.sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    position: relative;
    z-index: 5;
}
.nameApp {
    font-weight: 800;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    background:linear-gradient(90deg, rgba(50, 245, 117, 0.98) 0%, rgba(245, 227, 66, 0.92) 54.58%, rgba(245, 148, 241, 0.98) 105.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btnNew {
    box-shadow: none !important;
    border-radius: 16px  !important;
    background: #4CB6F2  !important;
    Width: 140px;
    height: 56px;
    font-size: 24px !important;
    left: 50%;
    padding: 6px 20px !important;
    margin-top: 10px !important;
    justify-content: space-evenly;
    transform: translateX(-50%);
    text-transform: none !important;
}