.app{
  position: relative;
}
/* width */
.box-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

/* Track */
.box-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;

}
.line{
  flex:1 1;
  height: 1px;
  background-color: #ccc;
  margin: "0 5px";
}
 
/* Handle */
.box-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;

}

/* Handle on hover */
.box-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.nav .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgb(77 107 137 / 20%);
}
.nav .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: rgb(77 107 137 / 20%);
}
.stand-select .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
  border-bottom: none;
}
.stand-select .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:before:hover{
  border-bottom: none;
}
.stand-select .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:hover:not(.Mui-disabled, .Mui-error):before{
  border-bottom: none;

}
.btn-new .css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled{
  color:white
}