.app{
  position: relative;
}
/* width */
.box-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

/* Track */
.box-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;

}
.line{
  flex:1 1;
  height: 1px;
  background-color: #ccc;
  margin: "0 5px";
}
 
/* Handle */
.box-container::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;

}

/* Handle on hover */
.box-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}